name: Release
 
on:

  push:

    branches:

      - main
 
jobs:

  release:

    runs-on: ubuntu-latest

    permissions:

      contents: write
 
    steps:

      - name: Checkout

        uses: actions/checkout@v4
 
      - name: Setup Node

        uses: actions/setup-node@v4

        with:

          node-version: 20
 
      - name: Install dependencies

        run: npm install
 
      - name: Semantic Release

        uses: cycjimmy/semantic-release-action@v4

        with:

          branches: main

        env:

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 
